In [1]:
import sqlite3
import os
import glob
import pandas as pd

In [2]:
input_path = "/home/jovyan/work/layers/gold/"
db_path = "/home/jovyan/work/layers/database/meu_banco.db"
table_name = "breweries_list"

In [3]:
try:
    if not os.path.exists(input_path):
        raise FileNotFoundError(f"Path {input_path} not found.")

    parquet_files = glob.glob(os.path.join(input_path, '**', '*.parquet'), recursive=True)

    if not parquet_files:
        raise FileNotFoundError("No .parquet file found.")

    print(f"Found {len(parquet_files)} parquet files.")

    df_list = []
    for file in parquet_files:
        # Extract only location name from partition folder
        location = os.path.basename(os.path.dirname(file)).split("=", 1)[1]
        df_temp = pd.read_parquet(file)
        df_temp['brewery_location'] = location
        df_list.append(df_temp)

    # Combine all partitions into one DataFrame
    df = pd.concat(df_list, ignore_index=True)

#    # Save to SQLite
#    os.makedirs(os.path.dirname(db_path), exist_ok=True)
#    conn = sqlite3.connect(db_path)
#    df.to_sql(table_name, conn, if_exists='replace', index=False)
#    conn.close()
#
#    print(f"Data saved to SQLite successfully.")
except Exception as e:
    print(f"Error saving to database: {e}")

Found 46 parquet files.

In [7]:
df.head(20)

   brewery_type  brewery_count brewery_location
0         micro              1         Abington
1         micro              1            Anoka
2         micro              1       Assumption
3         micro              1           Austin
4        closed              1       Bellingham
5         large              3             Bend
6         large              1            Boise
7         micro              1      Castle Rock
8         micro              1       Cincinnati
9         micro              1       Coraopolis
10        micro              1        Crosslake
11        large              1           Denver
12   proprietor              1           Denver
13        micro              1       Des Moines
14        micro              1             Gary
15        micro              1       Georgetown
16        micro              1          Gilbert
17        micro              1          Hammond
18      brewpub              1   Holland Patent
19        micro              1          Houston